# macOS
.DS_Store

# Sekrety / certy / env
*.pem
.env
.env.local

# Python
**/__pycache__/
*.py[cod]
.venv/
venv/
env/
rgsenv/
math-sdk/env/

# Frontend (Vite/SvelteKit)
web-sdk/**/node_modules/
web-sdk/**/.svelte-kit/
web-sdk/**/.vite/
web-sdk/**/dist/
web-sdk/**/build/

# Duże lokalne dane
math-sdk/**/publish_files/

# certy dev
*.pem

